{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class=" position-absolute text-white my-5" >Galerie de Alexis Lophone</h1>
</div>
 <img class="img-fluid" src="{{ asset('assets/images/gallery.jpeg') }}" alt="Image de la carte">
{% endblock %}
